<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>uygyfyfhj</title>
   
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Khand:wght@300&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <style>
   body{
   position: relative; 
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family: 'Khand', sans-serif;
    animation-name:fadeInAnime;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
    opacity:0; 

}
#forc{
  display: none;

}
#air{
  display: none;
}
/*.but{
    position: absolute;
    top: 50%;
    margin: 0;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    
    background-color: black;   
} */
/*.but:hover{
    background-color: rgb(42, 43, 119);
}  */

a{
    position: absolute;
    top: 60%;
    margin: 0;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 22px;
    background-color: black;  
    text-decoration: none;
      color: white;
      border:1.5px solid white ;
}
a:hover{
    background-color: rgb(31, 33, 160);
}

#disc{
  position: absolute;
  top: 12%;
 
  margin-top: 0;
  line-height: 1.2;
  width: 80%;
  
  font-size: 22px;
}
.dagroup{
  position: absolute;
  display: flex;
  flex-direction: column;
}
.choose{
   /* position: absolute;*/
    display: flex;
    flex-direction: row;
    top: 50%;
   
}
#discq{

  position: absolute;
  top: 80%;
 
  margin-top: 0;
  line-height: 1.2;
  width: 80%;
  
  font-size: 22px;
}
span{
    color: rgb(255, 0, 0);
}
@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
</style>
</head>
<body ontouchstart="" >
    <div id="forc"><%= quality%></div><div id="air"><%= versi%></div>
     
      <p id="disc">If you're a computer user, enjoy <span>Dynamic ver.</span><br> Otherwise, I HIGHLY RECOMMEND <span>Static ver.</span></p>
      <div class="dagroup">
      <div class="choose">
        <label><input type="radio" name="typ" value="static" id="sta">Static</label>
        <label><input type="radio" name="typ" value="dynamic" id="dyn">Dynamic</label>
      </div>
      <div class="choose">
        <label><input type="radio" name="qua" value="Low" id="aa">low quality</label>
        <label><input type="radio" name="qua" value="High" id="bb">high quality</label>
      </div>
    </div>
        <a href="/gallery?ver=static&qua=Low" id="wayy" >Go</a>
      

      <p id="discq">In Dynamic ver, <span>works automatically rotate.</span></p>
         
        <!--  One out of ten works is randomly displayed. -->
  <script>
    //var lacon="/gallery?ver=static"
    let typp=document.getElementsByName("typ")
    let quaa=document.getElementsByName("qua")
    //console.log(typp.value)
    var cuc=document.getElementById("forc").innerText
    var fgf=document.getElementById("air").innerText

     switch(cuc){
       case "Low":
         quaa[0].checked=true
       break
       case "High":
         quaa[1].checked=true  
       break  
       default:
         quaa[0].checked=true 
     }

     switch(fgf){
       case "dynamic":
         typp[1].checked=true
       break
       case "static":
         typp[0].checked=true  
       break  
       default:
         typp[0].checked=true 
     }



    window.addEventListener( "DOMContentLoaded" , ()=> {
 
 typp.forEach(
     r => r.addEventListener("change" ,
              e => {
               var result; 
              for(var nimxx=0; nimxx<quaa.length; nimxx++){
                 if(quaa[nimxx].checked){
                     result=quaa[nimxx].value
                     break
                 }
              }
              document.getElementById("wayy").setAttribute("href", "/gallery?ver="+e.target.value+"&qua="+result)
            
            
            }//change the url
         )
 );
 quaa.forEach(
     r => r.addEventListener("change" ,
              e => {
                var result; 
              for(var nimxx=0; nimxx<typp.length; nimxx++){
                 if(typp[nimxx].checked){
                     result=typp[nimxx].value
                     break
                 }
              }

            document.getElementById("wayy").setAttribute("href", "/gallery?ver="+result+"&qua="+e.target.value)
            
            
            
            }//change the url
         )
 );

});





  </script>      
</body>
</html>    